.article {
	@include grid();
	margin: 40px auto;

	&__title {
		margin-bottom: 20px;
	}

	&__subtitle {
		margin-bottom: 10px;
	}

	.row {
		align-items: stretch;
	}

	&__text {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 10px;
	}
}