//Breakpoints
$breakpoint-mobile: 420px;
$breakpoint-tablet-small: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1600px;