
/*--------------------------------------------------------------
pseudo
--------------------------------------------------------------*/

@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

/*--------------------------------------------------------------
accent line
--------------------------------------------------------------*/

@mixin accentline($height: 1px, $color: $ui-black) {
	@include pseudo;
	height: $height;
	background-color: $color;
}

/*--------------------------------------------------------------
border
--------------------------------------------------------------*/

@mixin border($height: 1px, $color) {
	border: $height solid $color;
}

/*--------------------------------------------------------------
grid
--------------------------------------------------------------*/
@mixin grid($padding: 20px, $maxWidth: 960px) {
	padding: 0 $padding;
	max-width: $maxWidth;
	width: 100%;
	margin: 0 auto;

	@media screen and (min-width: $breakpoint-tablet-small) {
		padding: 0 $spacing-m;
	}

	@media screen and (min-width: $breakpoint-desktop-small) {
		padding: 0 $spacing-l;
	}
}

/*--------------------------------------------------------------
transition
--------------------------------------------------------------*/
$normal-transition-time: 0.2s;
$default-ease: ease;
@mixin default-transition($param: all) {
	transition: $param $normal-transition-time $default-ease;
}

/*--------------------------------------------------------------
Translate
--------------------------------------------------------------*/

@mixin translateX($value: -50%) {
	transform: translateX($value);
}

@mixin translateY($value: -50%) {
	transform: translateY($value);
}

@mixin translateXY($value: -50%) {
	transform: translate($value , $value);
}
