// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Config + Base
@import 'config/config';
@import 'base/base';

// Components
@import "components/form/form";
@import "components/button/btn";
@import "components/hero/hero";
@import "components/icon/icon";
@import "components/faq/faq";
@import "components/section/section";
@import "components/sidebar/sidebar";
@import "components/iframe/iframe";
@import "components/grid/grid";
@import "components/menu/header";
@import "components/footer/footer";
@import "components/list/ol";
@import "components/list/ul";
@import "components/recap/recap";
@import "components/row/row";
@import "components/polaroid/polaroid";
@import "components/card/card";
@import "components/teaser/teaser";
@import "components/tabs/tabs";
@import "components/account/account";
@import "components/article/article";
@import "components/breadcrumb/breadcrumb";
@import "components/pagination/pagination";
@import "components/page/page-with-image";

.ctn-image {
	img {
		width: 100%;
		height: auto;
	}

	&.is-large {
		width: 100%;
		max-height: 200px;
		overflow: hidden;

		img {
			transform: translateY(-30%);
		}
	}

	&.is-small {
		min-width: 300px;
		max-width: 300px;
		overflow: hidden;
		margin-left: 40px;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include font-heading;
	margin-bottom: 10px;
}

h1 {
	margin-bottom: 20px;
}