.footer {
	padding: 15px 0;

	&__content {
		@include grid();
		display: flex;
		align-items: center;
	}

	&__logo {
		flex-grow: 1;
		@include font-logo;
		font-size: 20px;
	}

	&.for-family {
		background-color: $fam-dark;
		color: $ui-white;
	}

	&.for-volunteer {
		background-color: $vol-dark;
		color: $ui-white;
	}

	&__list {
		list-style: none;
		display: flex;

		align-items: center;
	}

	&__link {
		padding: 0 20px;
	}
}