@import 'textarea';
@import 'inputdate';
@import 'input';
@import 'select';
@import 'panel';
@import 'checkbox-radio';

.page {
	position: relative;
	min-height: 100vh;
	width: 100%;

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		min-width: 100%;
		max-height: 100%;

		img {
			height: 100%;
			width: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($fam-dark, .7);
			z-index: 0;
		}
	}

	&--auth {
		color: $ui-white;

		.logo {}
	}
}

.form {
	&__group {
		position: relative;
		display: flex;
		flex-flow: column-reverse;
	}

	&__label {
		touch-action: manipulation;

		&.is-counter {
			position: absolute;
			top: 0;
			right: 20px;
			color: $ui-red;
			max-width: fit-content;
			transform: translate($spacing-xs, $spacing-xs) scale(.9);
			background-color: white;
			padding: 0 $spacing-xs;
			width: auto;
		}
	}

	&__row {
		justify-content: space-between;

		& > * {
			width: calc(50% - 10px);
		}

		&.has-three {
			& > * {
				width: calc(33% - 10px);
				padding: $spacing-xs;
				text-align: center;
			}
		}
	}
}