input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=textarea],
input[type=file],
input[type=date],
input[type=time],
textarea
{
	width: 100%;
	padding: $spacing-s;
	margin-bottom: $spacing-s;

	font-size: 16px;
	@include font-base;

	@include border(1px, $ui-black);
	@include default-transition();
	touch-action: manipulation;

	&:focus,
	&:valid {
		outline: none;
		@include border(1px, $ui-red);

		&.for-family {
			@include border(1px, $fam-accent);
		}

		&.for-volunteer {
			@include border(1px, $vol-accent);
		}

		&.for-admin {
			@include border(1px, $admin-accent);
		}
	}
}

//TODO: deze code beter schrijven + link code: https://codepen.io/team/css-tricks/pen/XVBLRM + https://css-tricks.com/float-labels-css/
input:placeholder-shown + label,
textarea:placeholder-shown + label {
	cursor: text;
	max-width: fit-content;
	transform-origin: left bottom;
	transform: translate(10px, 35px) scale(1);
	@include default-transition();
	touch-action: manipulation;
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label {
	max-width: fit-content;
	transform: translate(11px, 10px) scale(0.9);
	background-color: white;
	padding: 0 $spacing-xxs;
	width: auto;
	@include default-transition();
	touch-action: manipulation;
}

