.panel {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 40px;

	color: $ui-black;
	background-color: white;

	transform: translateY(-50%) translateX(-50%);

	@media (min-width: $breakpoint-tablet-small) {
		width: 500px;
		padding: 80px;
	}

	@media (min-width: $breakpoint-tablet) {
		width: 700px;
	}

	&__title {
		@include font-heading;
		font-size: 30px;
		margin-bottom: $spacing-s;
		text-align: center;
	}

	&__body {}
}