.btn {
	display: inline-block;

	padding: $spacing-xs $spacing-s;
	margin: $spacing-s 0;
	width: 100%;

	color: $ui-white;
	background-color: $ui-grey;

	font-size: 16px;
	text-align: center;
	text-decoration: none;

	border: none;

	&:focus {
		outline: 0;
	}

	&:hover {
		cursor: pointer;
	}

	&.for-family {
		background-color: $fam-accent;
	}

	&.for-volunteer {
		background-color: $vol-accent;
	}

	&.for-admin {
		background-color: $admin-accent;
	}

	&.is-small {
		width: 300px;
		font-size: 14px;
	}

	&.has-icon {
		.icon {
			margin-right: 10px;
		}
	}

	&--icon {
		color: $ui-black;
		background-color: transparent;

		svg {
			fill: $ui-black;
			transform: scale(1);
			@include default-transition;
		}

		&:hover {
			svg {
				transform: scale(1.2);
			}
		}

		&.for-family {
			background-color: transparent;

			&:hover {
				svg {
					fill: $fam-accent;
				}
			}
		}
	}
}
