.account {
	&__section {
		margin-top: 20px;
		padding-bottom: 25px;

		&.for-family {
			margin-top: 40px;
			padding: 20px 40px;
			background-color: $fam-extralight;
		}

		&.for-volunteer {
			margin-top: 40px;
			padding: 20px 40px;
			background-color: $vol-extralight;
		}

		&.row {
			padding-bottom: 0;
		}
	}

	&__subheading {
		margin-bottom: 20px;
	}
}