.grid {
	margin-top: 20px;

	&.is-playgroup {
		@media screen and (min-width: $breakpoint-tablet-small) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.grid__item {
			margin: 20px 0;

			@media screen and (min-width: $breakpoint-tablet) {
				width: calc((100% / 2) - 20px);
				margin: 10px;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 10px 0;
	}

	&__image {
		min-width: 100px;
		max-width: 100px;
		margin-right: 20px;
		overflow: hidden;
	}

	&__content {}

	&__title {
		margin-bottom: 10px;
	}

	&__text {}
}