.grid {
	&.is-playgroup {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.grid__item {
			width: calc(50% - 40px);
			margin: 10px 0 10px 10px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 10px 0;
	}

	&__image {
		min-width: 100px;
		max-width: 100px;
		margin-right: 20px;
		overflow: hidden;
	}

	&__content {}

	&__title {
		margin-bottom: 10px;
	}

	&__text {}
}