
$ui-white: #ffffff;
$ui-grey: #3C3D41;
$ui-black: #000000;

$ui-blue: #007BFF;
$ui-red: #DB3545;

/* --- VOLUNTEER ---*/
$vol-dark: #340913;
$vol-medium: #7b0f28;
$vol-accent: #d61a46;
$vol-light: #ec6988;
$vol-extralight: #fbdfe6;

/* --- FAMILY ---*/
$fam-dark: #263409;
$fam-medium: #59761e;
$fam-accent: #98ca32;
$fam-light: #c0df81;
$fam-extralight: #f1f8e2;

/* --- ADMIN ---*/
$admin-dark: #092834;
$admin-medium: #1A3e4c;
$admin-accent: #347b98;
$admin-light: #67afcb;
$admin-extralight: #e4f1f6;

//EXTRA KLEUREN ALS GE WILT VERANDEREN

//orange
$or-dark: #342609;
$or-medium: #9c6902;
$or-accent: #fba90a;
$or-light: #fdcd6d;
$or-extralight: #fef3dc;

//groen-blauw
$gb-dark: #093426;
$gb-medium: #23483c;
$gb-accent: #448d76;
$gb-light: #79bea8;
$gb-extralight: #e7f3ef;

//purple
$pur-dark: #210934;
$pur-medium: #36065b;
$pur-accent: #700cbc;
$pur-light: #a33af2;
$pur-extralight: #efddfd;

//blauw
$blue-dark: #091534;
$blue-medium: #012998;
$blue-accent: #0247fe;
$blue-light: #678ffe;
$blue-extralight: #dbe5ff;