/*
|--------------------------------------------------------------------------
| Hoofdkleuren
|--------------------------------------------------------------------------
*/

$ui-white: #ffffff;
$ui-grey: #3C3D41;
$ui-black: #000000;

$ui-blue: #007BFF;
$ui-red: #DB3545;

/*
|--------------------------------------------------------------------------
| Extra kleuren
|--------------------------------------------------------------------------
*/

//rood
$red-dark: #340913;
$red-medium: #7b0f28;
$red-accent: #d61a46;
$red-light: #ec6988;
$red-extralight: #fbdfe6;

//oranje
$or-dark: #342609;
$or-medium: #9c6902;
$or-accent: #fba90a;
$or-light: #fdcd6d;
$or-extralight: #fef3dc;

//paars
$pur-dark: #210934;
$pur-medium: #36065b;
$pur-accent: #700cbc;
$pur-light: #a33af2;
$pur-extralight: #efddfd;

//blauw
$blue-dark: #091534;
$blue-medium: #012998;
$blue-accent: #0247fe;
$blue-light: #678ffe;
$blue-extralight: #dbe5ff;

//groen
$green-dark: #263409;
$green-medium: #59761e;
$green-accent: #98ca32;
$green-light: #c0df81;
$green-extralight: #f1f8e2;

//groen-blauw
$gb-dark: #093426;
$gb-medium: #23483c;
$gb-accent: #448d76;
$gb-light: #79bea8;
$gb-extralight: #e7f3ef;

//blauw-groen
$bg-dark: #092834;
$bg-medium: #1A3e4c;
$bg-accent: #347b98;
$bg-light: #67afcb;
$bg-extralight: #e4f1f6;

/*
|--------------------------------------------------------------------------
| For Volunteer
|--------------------------------------------------------------------------
*/
$vol-dark: $or-dark;
$vol-medium: $or-medium;
$vol-accent: $or-accent;
$vol-light: $or-light;
$vol-extralight: $or-extralight;

/*
|--------------------------------------------------------------------------
| For Family
|--------------------------------------------------------------------------
*/
$fam-dark: $gb-dark;
$fam-medium: $gb-medium;
$fam-accent: $gb-accent;
$fam-light: $gb-light;
$fam-extralight: $gb-extralight;

/*
|--------------------------------------------------------------------------
| For Admin
|--------------------------------------------------------------------------
*/
$admin-dark: $pur-dark;
$admin-medium: $pur-medium;
$admin-accent: $pur-accent;
$admin-light: $pur-light;
$admin-extralight: $pur-extralight;