* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	@include font-base;
	width: 100%;
}

main {
	flex-grow: 1;
}

a {
	display: inline-block;

	text-decoration: none;
	color: inherit;
}
